.el-main {
  box-sizing: border-box;
  /*padding: 20px;*/
  overflow-x: hidden;
  /*background-color: var(--el-bg-color-page);*/
  background-color: #fff;
}
.el-footer {
  height: auto;
  padding: 0;
}